@import 'mixins/hide-text';
@import 'mixins/reset-list';

.app-header {
  position: relative;
  margin-bottom: 40px;
  .app-logo {
    padding:0px 0px;
    position: relative;
    top:-3px;
    margin-right: 20px;

    img{
      display: inline;
    }

    span{
      position: relative;
      top: -8px;
      margin-left: 5px;
    }
  }
}
