$black: #000;

.app-users {
  max-width: 400px;
  margin-left: 50%;
  position: relative;
  left:-200px;
  tr{
  	td:first-child{
  		width: 250px;
  	}
		td,th {
	    padding: 5px 10px;
	    vertical-align: middle !important;
	    text-align: center;
  	}
  }

  thead {
    border-bottom: 1px solid $black;
  }
}
