.app-users {
  .panel-footer {
    text-align: center;
  }

  .table {
    margin-bottom: 0px !important;

    tr {
  		td, th {
  	    padding: 5px 10px;
  	    vertical-align: middle !important;
  	    text-align: center;
        &:first-child{
          width: 60%;
        }
    	}
    }
  }

  .user-remove{
    margin-left: 15px;
  }
}
